<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${title}"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
</head>
<body>
<header th:insert="blocks/header::header"></header>

<div class="container mt-5">
	<center><h1 th:text="${title}"/>
	<img class="mb-4" src="about.svg" alt="" width="200" height="200"><br>
	<h3>Выполнила студентка группы 7043 Гордеева М.В.</h3></center>
	<p>Данный дипломный проект освещает основные этапы разработки web-сервиса учета продаж мобильных телефонов</p>
	<center><h4><p>Краткое руководство</p></h4></center>
	<p>Для просмотра всех клиентов на панели навигации нужно нажать кнопку "Клиенты"</p>
	<p>Для редактирования клиента нужно нажать кнопку "Детальнее", а затем нажать кнопку "Редактировать клиента" после заполнения нужно нажать "Обновить"</p>
	<p>Для удаления клиента нужно нажать кнопку "Детальнее", а затем нажать кнопку "Удалить"</p>
<!--	<p>Для просмотра всех писем на панели навигации нужно нажать кнопку "Письма"</p>-->
<!--	<p>Для редактирования письма нужно нажать кнопку "Детальнее", а затем нажать кнопку "Редактировать письмо" после заполнения нужно нажать "Обновить"</p>-->
<!--	<p>Для удаления письма нужно нажать кнопку "Детальнее", а затем нажать кнопку "Удалить"</p>-->
</div>
<div th:insert="blocks/footer::footer"></div>

</body>
</html>