<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Редактирование сайта</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
</head>
<body>
<header th:insert="blocks/header::header"></header>

<div class="container mt-5 mb-5">
	<h1>Редактирование клиента</h1>
	 <div th:each="el : ${client}">
	<form method="post">
		<input type="text" th:value="${el.name}" name="name" placeholder="Введите имя клиента" class="form-control"><br>
		<input type="text" th:value="${el.firstname}" name="firstname" placeholder="Введите фамилию клиента" class="form-control"><br>
		<input type="text" th:value="${el.lastname}" name="lastname" placeholder="Введите отчество клиента" class="form-control"><br>
		<input type="text" th:value="${el.numberOfPhone}" name="numberOfPhone" placeholder="Введите номер телефона клиента" class="form-control"><br>
		<input type="text" th:value="${el.pasport}" name="pasport" placeholder="Введите серию,номер и дату выдачи паспорта клиента" class="form-control"><br>
		<input type="text" th:value="${el.address}" name="address" placeholder="Введите адрес клиента" class="form-control"><br>
		<button type="submit" class="btn btn-success">Обновить клиента</button>
	</form>
	</div>
	
</div>

<div th:insert="blocks/footer::footer"></div>
</body>
</html>