<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Страны производители</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
</head>
<body>
<header th:insert="blocks/header::header"></header>

<div class="container mt-5">
    <center><h1>Страны производители</h1></center>

    <div align="right"><a href="/country/add" class="btn btn-primary my-2">Добавить страну производителя</a><br></div>
    <input type="text" name="nameSearch" placeholder="Начните вводить" class="form-control"><br>
    <div th:each="el : ${countries}" class="alert alert-info mt-2">
        <h3 th:text="${el.countryName}"/>
<!--        <div><a th:href="'/country/' + ${el.id}" class="btn btn-warning">Детальнее</a></div>-->
        <form th:action="'/country/' +  ${el.id} + '/remove'" method="post">
            <button class="btn btn-warning" type="submit">Удалить</button>
            <a th:href="'/country/' + ${el.id} + '/edit'" class="btn btn-warning">Редактировать</a>
        </form>
    </div>
    <a th:href="'/mdm-main'" class="btn btn-primary my-2">Назад</a>
    </form>
</div>

<div th:insert="blocks/footer::footer"></div>
</body>
</html>