<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Сотрудники сайта</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <script language="JavaScript" src="list.js"></script>
</head>
<body>
<header th:insert="blocks/header::header"></header>

<div class="container mt-5 mb-5">
    <h1>Добавление сотрудника</h1>
    <form action="/employee/add" method="post">
        <input type="text" name="name" placeholder="Введите имя сотрудника" class="form-control"><br>
        <input type="text" name="firstname" placeholder="Введите фамилию сотрудника" class="form-control"><br>
        <input type="text" name="lastname" placeholder="Введите отчество сотрудника" class="form-control"><br>
        <input type="text" name="numberOfPhone" placeholder="Введите номер телефона сотрудника" class="form-control"><br>
        <input type="text" name="address" placeholder="Введите адрес сотрудника" class="form-control"><br>
        <input type="text" name="login" placeholder="Введите логин сотрудника" class="form-control"><br>
        <input type="text" name="password" placeholder="Введите пароль сотрудника" class="form-control"><br>
        <select th:name="dolznosti" class="form-control" id="dolznosti" >
            <option th:each="el : ${dolznosts}" class="form-control" name="dolznostsId" th:value="${el.dolznostId}" th:text="${el.nameDolznost}">
<!--                <span th:text="${el.nameDolznost}"/>-->
            </option>
        </select><br>
        <button type="submit" class="btn btn-success">Добавить сотрудника</button>
    </form>

</div>

<div th:insert="blocks/footer::footer"></div>
</body>
</html>