<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
</head>
<body>
<header th:insert="blocks/header::header"></header>

<div class="container mt-5">
    <center><h1>Справочники</h1>
    <img class="mb-4" src="mdm.svg" alt="" width="100" height="100"><br>
        <h3><a class="p-2 text-dark" href="/os-main">Операционные системы</a><br>
    <a class="p-2 text-dark" href="/producer-main">Производители</a><br>
    <a class="p-2 text-dark" href="/country-main">Страны</a><br>
    <a class="p-2 text-dark" href="/accum-main">Типы аккумуляторов</a><br>
    <a class="p-2 text-dark" href="/typeDisp-main">Типы дисплеев</a><br>
            <a class="p-2 text-dark" href="/formFactor-main">Форм-факторы</a><br>
            <a class="p-2 text-dark" href="/formFactor-main">Типы клиентов</a><br></center></h3>
</div>
<div th:insert="blocks/footer::footer"></div>

</body>
</html>