<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Поставщики</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <script language="JavaScript" src="list.js"></script>
</head>
<body>
<header th:insert="blocks/header::header"></header>

<div class="container mt-5 mb-5">
    <h1>Добавление поставщика</h1>
    <form action="/provider/add" method="post">
        <input type="text" name="nameProvider" placeholder="Введите нименование поставщика" class="form-control"><br>
        <input type="text" name="contact" placeholder="Введите ФИО контактного лица" class="form-control"><br>
        <input type="text" name="address" placeholder="Введите юридический адрес" class="form-control"><br>
        <input type="text" name="numberOfPhone" placeholder="Введите номер телефона контактного лица" class="form-control"><br>
        <input type="text" name="inn" placeholder="Введите ИНН поставщика" class="form-control"><br>
        <input type="text" name="kpp" placeholder="Введите КПП поставщика" class="form-control"><br>
        <input type="text" name="schet" placeholder="Введите расчетный счет поставщика" class="form-control"><br>

        <select th:name="countries" class="form-control" id="countries" >
            <option th:each="el : ${countrys}" class="form-control" name="countriesId" th:value="${el.countryId}" th:text="${el.countryName}">
            </option>
        </select><br>
        <button type="submit" class="btn btn-success">Добавить поставщика</button>
    </form>

</div>

<div th:insert="blocks/footer::footer"></div>
</body>
</html>