<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Редактирование типа дисплея телефона</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
</head>
<body>
<header th:insert="blocks/header::header"></header>

<div class="container mt-5 mb-5">
	<h1>Редактирование типа дисплея телефона</h1>
	 <div th:each="el : ${typeDisp}">
	<form method="post">
		<input type="text" th:value="${el.nametypeDispl}" name="name" placeholder="Введите наименование типа дисплея телефона" class="form-control"><br>

		<button type="submit" class="btn btn-success">Обновить наименование типа дисплея телефона</button>
	</form>
	</div>
	
</div>

<div th:insert="blocks/footer::footer"></div>
</body>
</html>